<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <header>
            <h1>Edit Campground</h1>
        </header>
        <main>
            <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
                <div>
                    <label for="location">Location:</label>
                    <input type="text" id="location" name="campground[location]" value="<%= campground.location %>" required>
                </div>
                <div>
                    <label for="image">Image URL:</label>
                    <input type="text" id="image" name="campground[image]" value="<%= campground.image %>"required>
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea id="description" name="campground[description]" required><%= campground.description %></textarea>
                </div>
                <button type="submit">Update Campground</button>
            </form>
            <a href="/campgrounds/<%= campground._id %>">Back to Campground</a>
        </main>
        <footer>
            <p>&copy; 2023 YelpCamp</p>
        </footer>       
        
    </body>
</html>